/.vscode
/applications.html
/bitnami.css
/dashboard
/ej211.php
/ej212.php
/ej213.php
/ej214.php
/ej215.php
/ej221.php
/ej222.php
/ej223.php
/ej224.html
/ej224b.php
/ej225.html
/ej225b.php
/ej226.php
/ejercicioanadirdatos.php
/ejercicioleerdatos.php
/favicon.ico
/hola.php
/img
/index.php
/mostrar.php
/mostrar1.php
/preferencias1.php
/PRUEBAS_PHP
/recepciondatosformulario.php
/tarea.css
/tarea1.css
/variablesdesesion.php
/variablesdesesion_1.php
/variablesdesesion_2.php
/webalizer
/xampp